In [10]:
import pandas as pd
import zipfile
import numpy as np
import sys
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

directory_lic='C:\\repos\\public-procurement\\data\\licitaciones\\'
directory_oc='C:\\repos\\public-procurement\\data\\ordenes\\'

year_range=np.arange(2010,2021,1)
month_range=np.arange(1,13,1)
yearmonths=[str(y)+'-'+str(m) for y in year_range for m in month_range]
yearmonths

['2010-1',
 '2010-2',
 '2010-3',
 '2010-4',
 '2010-5',
 '2010-6',
 '2010-7',
 '2010-8',
 '2010-9',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-1',
 '2011-2',
 '2011-3',
 '2011-4',
 '2011-5',
 '2011-6',
 '2011-7',
 '2011-8',
 '2011-9',
 '2011-10',
 '2011-11',
 '2011-12',
 '2012-1',
 '2012-2',
 '2012-3',
 '2012-4',
 '2012-5',
 '2012-6',
 '2012-7',
 '2012-8',
 '2012-9',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-1',
 '2013-2',
 '2013-3',
 '2013-4',
 '2013-5',
 '2013-6',
 '2013-7',
 '2013-8',
 '2013-9',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-1',
 '2014-2',
 '2014-3',
 '2014-4',
 '2014-5',
 '2014-6',
 '2014-7',
 '2014-8',
 '2014-9',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-1',
 '2015-2',
 '2015-3',
 '2015-4',
 '2015-5',
 '2015-6',
 '2015-7',
 '2015-8',
 '2015-9',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-1',
 '2016-2',
 '2016-3',
 '2016-4',
 '2016-5',
 '2016-6',
 '2016-7',
 '2016-8',
 '2016-9',
 '2016-10',
 '2016-11',
 '2016-12',
 '2017-1',
 '2017-2',
 '2017-3',
 '2017-4',
 '2017-5',
 '2017-6',
 '2017-7',
 '2017-8',
 '2017-9',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-1',
 '2018-2',
 '2018-3',
 '2018-4',
 '2018-5',
 '2018-6',
 '2018-7',
 '2018-8',
 '2018-9',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-1',
 '2019-2',
 '2019-3',
 '2019-4',
 '2019-5',
 '2019-6',
 '2019-7',
 '2019-8',
 '2019-9',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-1',
 '2020-2',
 '2020-3',
 '2020-4',
 '2020-5',
 '2020-6',
 '2020-7',
 '2020-8',
 '2020-9',
 '2020-10',
 '2020-11',
 '2020-12']

In [11]:
#target_categories=pd.read_csv('C:\\repos\\public-procurement\\data\\ordenes\\medical_categories.csv', encoding="cp1252",sep=';', low_memory=False,decimal=",")
#RubroN3=target_categories['Rubro3']
#RubroN2=target_categories['Rubro2']
#RubroN1=target_categories['Rubro1']

#Vars: firms, units, montos, montos estimados. Fecha
listaVariables=['Codigo','CodigoExterno','Nombre','NombreOrganismo','NombreUnidad','RutUnidad','RegionUnidad', 'Obras','FechaInicio',
                'TiempoDuracionContrato','NumeroOferentes','Rubro1','Rubro2','Rubro3','Nombre producto genérico','RutProveedor',
                'NombreProveedor','Monto Estimado Adjudicado','Valor Total Ofertado','Cantidad Ofertada','CantidadAdjudicada','Oferta seleccionada','MontoEstimado',
                   'CodigoProductoONU','ComunaUnidad','Tipo de Adquisición','Estado Oferta']

In [3]:
yearmonths[50:50]

[]

In [12]:
import codecs
codecs.register_error("strict", codecs.ignore_errors)
list_df_lic=[]
#list_df_oc=[]
filter_medical= True
filter_target=True
for i in yearmonths:
    print(i)
    if i=="2014-3" or i=="2014-4"or i=='2011-3':
        continue
    string_open1=directory_lic+str(i)+'.zip'
    string_open2=directory_oc+str(i)+'.zip'
    
    zf = zipfile.ZipFile(string_open1) 
    df = pd.read_csv(zf.open('lic_'+str(i)+'.csv'), encoding='Windows-1252',sep=';', low_memory=False,decimal=",")
    if filter_target== True:
        #df=df[df.RubroN3.isin(RubroN3)]  
        df=df[df.Rubro2=="CONSTRUCCIÓN DE EDIFICIOS EN GENERAL"]
    df=df[listaVariables]
    list_df_lic.append(df)

2010-1
2010-2
2010-3
2010-4
2010-5
2010-6
2010-7
2010-8
2010-9
2010-10
2010-11
2010-12
2011-1
2011-2
2011-3
2011-4
2011-5
2011-6
2011-7
2011-8
2011-9
2011-10
2011-11
2011-12
2012-1
2012-2
2012-3
2012-4
2012-5
2012-6
2012-7
2012-8
2012-9
2012-10
2012-11
2012-12
2013-1
2013-2
2013-3
2013-4
2013-5
2013-6
2013-7
2013-8
2013-9
2013-10
2013-11
2013-12
2014-1
2014-2
2014-3
2014-4
2014-5
2014-6
2014-7
2014-8
2014-9
2014-10
2014-11
2014-12
2015-1
2015-2
2015-3
2015-4
2015-5
2015-6
2015-7
2015-8
2015-9
2015-10
2015-11
2015-12
2016-1
2016-2
2016-3
2016-4
2016-5
2016-6
2016-7
2016-8
2016-9
2016-10
2016-11
2016-12
2017-1
2017-2
2017-3
2017-4
2017-5
2017-6
2017-7
2017-8
2017-9
2017-10
2017-11
2017-12
2018-1
2018-2
2018-3
2018-4
2018-5
2018-6
2018-7
2018-8
2018-9
2018-10
2018-11
2018-12
2019-1
2019-2
2019-3
2019-4
2019-5
2019-6
2019-7
2019-8
2019-9
2019-10
2019-11
2019-12
2020-1
2020-2
2020-3
2020-4
2020-5
2020-6
2020-7
2020-8
2020-9
2020-10
2020-11
2020-12

In [13]:
df_lic=pd.concat(list_df_lic)
del list_df_lic
df = df_lic

In [8]:
df = df_lic.loc[:,~df_lic.columns.duplicated()]

In [14]:
import feather
feather.write_dataframe(df, 'lic_construccion_feather.feather')

In [1]:
import feather
df=feather.read_dataframe('lic_construccion_feather.feather')

In [2]:
#Study of the Estimated Price
df.loc[:,'MCA_MPO']=df['Valor Total Ofertado']/df['MontoEstimado']

##Check how many have quantities=1, how many NA's in estimated price. Print.
dfQuantities=df.groupby(['Cantidad Ofertada']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'Codigo': ["count"],
    }
)
dfQuantities

df_bids=df[(df['Cantidad Ofertada']==1)&
                (df['MontoEstimado']>1000)&
                (df['Valor Total Ofertado']>1000)&
                (df['MCA_MPO']>0.1)&
               (df['MCA_MPO']<2)]
df_bids.to_csv('bids.csv',encoding='cp1252')
##Filter non selected offers and all noise in the sample to get only the expected amount. 
df_estimated=df[(df['Cantidad Ofertada']==1)&
                (df['CantidadAdjudicada']==1)&
                (df['MontoEstimado']>1000)&
                (df['Valor Total Ofertado']>1000)&
                (df['MCA_MPO']>0.1)&
               (df['MCA_MPO']<2)]

##Check possible problems in the data
###Number of lics with more quantity than 1 (maybe small objects)
propQuant=((df['CantidadAdjudicada']>=1)&(df['Cantidad Ofertada']!=1)).sum()
###Too low values estimated
propWong=(df['MCA_MPO']>=2).sum()
#NA and missing
propNA=df.MontoEstimado.isna().sum()
propZero=(df.MontoEstimado<1000).sum()
propValidEstim=round(len(df_estimated)/len(df[df['CantidadAdjudicada']>=1]),2)
print(len(df),len(df_bids),len(df_estimated),propValidEstim,propZero,propNA,propWong,propQuant)

##Sample Statistics
df_estimated['MCA_MPO'].describe()
histo1=df_estimated.hist(column='MCA_MPO',bins=20)

#TODO: find why some prices are so much less than estimations.

243575 189800 54315 0.77 2987 13853 6274 4049

In [4]:
df['year'] = pd.DatetimeIndex(df['FechaInicio']).year

In [57]:
#Actors in the network. 
##Firms in the network
dfFirms=df_bids.groupby(['RutProveedor']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'CantidadAdjudicada': [lambda x: (x>=1 ).sum()],
        'Codigo': ["nunique"],
        'NombreOrganismo': ["nunique"],
        'RutUnidad':["nunique"],
        'year':["max","min"]
    }
)
dfFirms.columns = ["_".join(x) for x in dfFirms.columns.ravel()]
dfFirms['exp']=dfFirms['year_max']-dfFirms['year_min']
display(dfFirms.describe())

dfFirms=df_estimated.groupby(['RutProveedor']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'CantidadAdjudicada': [lambda x: (x>=1 ).sum()],
        'Codigo': ["nunique"],
        'NombreOrganismo': ["nunique"],
        'RutUnidad':["nunique"],
        'year':["max","min"]
    }
)
dfFirms.columns = ["_".join(x) for x in dfFirms.columns.ravel()]
dfFirms['exp']=dfFirms['year_max']-dfFirms['year_min']
display(dfFirms.describe())






len(df.RutProveedor.unique())
dfFirms=df.groupby(['RutProveedor']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'Codigo': ["nunique"],
        'NombreOrganismo': ["nunique"],
        'RutUnidad':["nunique"]
    }
)
display(dfFirms.describe())
##Gov. Units in the Network
dfGovs=df.groupby(['NombreOrganismo']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'Codigo': ["nunique"],
        'RutProveedor':["nunique"]
    }
)
display(dfGovs.describe())

,CantidadAdjudicada_<lambda>,Codigo_nunique,NombreOrganismo_nunique,RutUnidad_nunique,year_max,year_min,exp
count,21305.000000,21305.000000,21305.000000,21305.000000,21305.000000,21305.000000,21305.000000
mean,2.552969,8.551608,3.402347,3.430650,2016.178972,2014.529782,1.649190
std,6.257389,20.512131,6.082311,6.245463,3.135779,3.188408,2.595329
min,0.000000,1.000000,1.000000,1.000000,2010.000000,2010.000000,0.000000
25%,0.000000,1.000000,1.000000,1.000000,2014.000000,2012.000000,0.000000
50%,1.000000,2.000000,1.000000,1.000000,2017.000000,2014.000000,0.000000
75%,2.000000,7.000000,3.000000,3.000000,2019.000000,2017.000000,2.000000
max,152.000000,1442.000000,341.000000,374.000000,2020.000000,2020.000000,10.000000

,CantidadAdjudicada_<lambda>,Codigo_nunique,NombreOrganismo_nunique,RutUnidad_nunique,year_max,year_min,exp
count,10900.000000,10900.000000,10900.000000,10900.000000,10900.000000,10900.000000,10900.000000
mean,4.983028,4.835046,2.232202,2.236239,2015.982385,2014.247064,1.735321
std,8.016932,7.740963,2.631256,2.620658,3.126395,3.070055,2.594492
min,1.000000,1.000000,1.000000,1.000000,2010.000000,2010.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,2013.000000,2012.000000,0.000000
50%,2.000000,2.000000,1.000000,1.000000,2016.000000,2014.000000,0.000000
75%,5.000000,5.000000,2.000000,2.000000,2019.000000,2017.000000,3.000000
max,152.000000,119.000000,55.000000,55.000000,2020.000000,2020.000000,10.000000

             Codigo NombreOrganismo     RutUnidad
            nunique         nunique       nunique
count  23894.000000    23894.000000  23894.000000
mean       8.754625        3.463631      3.495815
std       23.596949        6.672129      6.863044
min        1.000000        1.000000      1.000000
25%        1.000000        1.000000      1.000000
50%        2.000000        1.000000      1.000000
75%        7.000000        3.000000      3.000000
max     1982.000000      383.000000    432.000000

            Codigo RutProveedor
           nunique      nunique
count   955.000000   955.000000
mean     77.176963    86.659686
std     127.807028   124.467025
min       1.000000     1.000000
25%       5.000000    10.500000
50%      37.000000    50.000000
75%     109.500000   122.000000
max    1696.000000  1645.000000

In [15]:
#Auctions.
dfAuctions=df.groupby(['Codigo']
).agg(
    {
        # Find the min, max, and sum of the duration column
        'RutProveedor': ["nunique"],
    }
)
dfAuctions.describe()
##Price distributions.

#Participants per auction.

       RutProveedor
            nunique
count  62751.000000
mean       2.831907
std        2.766709
min        1.000000
25%        1.000000
50%        2.000000
75%        4.000000
max      460.000000

In [34]:
a=pd.DataFrame(df['NombreOrganismo'].unique(),columns=['Entity'])
a['Tipo']='GOV'
b=pd.DataFrame(df['NombreProveedor'].unique(),columns=['Entity'])
b['Tipo']='FIRM'
df_entities=pd.concat([a,b])
#df_entities['Label']=df_entities['Entity']
df_entities.to_csv('Entitites.csv')
df_entities.drop_duplicates(subset ="Entity", 
                     keep = False, inplace = True) 
df_entities.reset_index(drop=True, inplace=True)

len(df_entities)

20316

In [35]:
import networkx as nx
from matplotlib.pyplot import figure

df_edges=df[['NombreOrganismo','NombreProveedor']]

G = nx.from_pandas_edgelist(df_edges, 'NombreOrganismo', 'NombreProveedor')
nx.set_node_attributes(G, df_entities.set_index('Entity').to_dict('index'))
#figure(figsize=(10, 8))
nx.write_graphml(G,'procgraph3.graphml')